input{
  margin-left:10px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: bold;
  padding:10px;
}
button{
  position:relative;
  top:10px;
  left: 7px;
  width: 300px;
  height: 40px;
  border: none;
  Outline: none;
  font-weight: bold;
  background: red;
  border-radius: 5px;
}
img{
  position: relative;
  bottom: 355px;
}
body{
  text-align: center;
}
.data{
  position: relative;
  top: 80px;
}
@media screen and(min-width:768px){
  button{
    height: 75px;
  }
}